.promo{
    $_: '.promo';
    @include media-breakpoint-down(sm) {
        padding-top: rem(36);
        padding-bottom: rem(68);
        &__title{
            position: relative;
            margin-bottom: rem(36);
            padding-top: rem(48);
            text-align: center;
            font-size: rem(30);
        }
        &__title-img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            max-width: 100%;
            text-align: center;
        }

        &__text-1, &__text-2, &__text-3 {
            display: block;
            font-weight: 700;
            text-transform: uppercase;
        }
        &__text-1 {
            margin-bottom: rem(7);
            font-size: rem(40);
        }
        &__text-2 {
            margin-bottom: rem(7);
            font-size: rem(19);
        }
        &__text-3 {
            font-size: rem(30);
        }
    }
    @include media-breakpoint-up(md) {
        padding-top: rem(88);
        padding-bottom: rem(124);
        &__title{
            font-size: rem(35);
            margin-bottom: rem(38);
        }
        &__text{
            font-size: rem(39);
            font-weight: 700;
            line-height: 1.4;
            text-transform: uppercase;
            p{
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
    @include media-breakpoint-up(xl) {
        padding-top: rem(114);
        padding-bottom: rem(124);

        &__title {
            margin-bottom: rem(62);
        }

        &__text-3 {
            display: block;
        }
    }
}