// START promo
.promo{
    $_: '.promo';
    color: $white;
    text-align: center;
    background: url('%=static=%assets/promo/bg-promo.png') no-repeat 50% 50% $brand-primary;
    background-size: cover;
    &__content{
        margin-left: auto;
        margin-right: auto;
        max-width: 1040px;
    }
    &__title{
        display: block;
        font-weight: 400;
        line-height: 1.2;
    }
    &__title-img {
        display: inline-block;
        margin: 0 1.5rem;
    }
    &__text{
        p{
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    &__action{
        .btn{
            display: inline-block;
            white-space: normal;
        }
    }
}

@import 'promo-responsive';
// END promo