mixin foot(data)

    //- jQuery
    script(src='%=static=%js/separate-js/jquery-1.12.0.min.js')
    script(src='%=static=%js/separate-js/select2.min.js')
    script(src='%=static=%js/separate-js/select2.i18n.ru.js')
    script(src='%=static=%js/separate-js/jquery.nicescroll.min.js')

    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='%=static=%js/main%=hash=%%=min=%.js')
