doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/foot/foot.pug
    include ../components/header/header.pug
    include ../components/footer/footer.pug

    head
        +head(head.defaults)
    body.page
        |%=symbols=%

        // START page wrapper
        div.page__wrapper
            //- START page header
            +header(data)
            //- END page header

            // START promo
            div.promo(id="promo")
                div.page__container
                    div.promo__content
                        div.promo__title 
                            | Портал 
                            img.promo__title-img(src="http://pronovostroy.ru/public/style_images/pronovostroy/general/logo-white.svg", width="250", height="40", alt="Pronovostroy")
                            | предлагает
                        div.promo__text
                            span.promo__text-1 Бесплатный подбор 
                            span.promo__text-2 квартиры в новостройке 
                            span.promo__text-3 по самой выгодной цене!
            // END promo

            // START page content
            div.page__content(id="content")
                
                // START page main
                main.page__main(id="main", role="main")
                    section.block
                        div.page__container
                            header.block__header 
                                b.block__title Как получить предложение?
                            div.block__content
                                div.timeline
                                    // START timeline step 1
                                    div.timeline__item(data-step="1")
                                        span.timeline__icon
                                        div.timeline__content
                                            div.timeline__figure
                                                img.timeline__img(src="%=static=%img/assets/timeline/timeline_step_1.png")
                                            div.timeline__text
                                                p Заполните заявку
                                    // END timeline step 1

                                    // START timeline step 2
                                    div.timeline__item(data-step="2")
                                        span.timeline__icon
                                        div.timeline__content
                                            div.timeline__figure
                                                img.timeline__img(src="%=static=%img/assets/timeline/timeline_step_2.png")
                                            div.timeline__text
                                                p Оставьте Ваши контактные данные
                                    // END timeline step 2
                                    
                                    // START timeline step 3
                                    div.timeline__item(data-step="3")
                                        span.timeline__icon
                                        div.timeline__content
                                            div.timeline__figure
                                                img.timeline__img(src="%=static=%img/assets/timeline/timeline_step_3.png")
                                            div.timeline__text
                                                p Получите самое выгодное предложение!
                                    // END timeline step 3

                    section.block.--allotted
                        div.page__container.--sm
                            header.block__header 
                                b.block__title Заполните заявку 
                                p.block__text и мы подберем подходящие квартиры в новостройке
                            div.block__content
                                div.form.--request
                                    div.form__body
                                        div.form-group.row
                                            label.col-md-4.col-form-label(for="") Расположение объекта:
                                            div.col-md-8
                                                input.form-control(type="text", placeholder="Предподчительное расположение объекта")

                                        div.form-group.row
                                            label.col-md-4.col-form-label(for="") Выберете жилой комлекс:
                                            div.col-md-8
                                                select.form-control.select2(data-width="100%")
                                                    option(value="0") ЖК
                                                    option(value="1") Новый ЖК
                                                    option(value="2") Старый ЖК
                                                    option(value="3") Еще раз ЖК
                                                    option(value="4") ЖК

                                        div.form-group.row
                                            label.col-md-4.col-form-label(for="") Выберете жилой комлекс:
                                            div.col-md-8
                                                select.form-control.select2(data-width="160")
                                                    option(value="-1") Год
                                                    option(value="0") 2017
                                                    option(value="1") 2016
                                                    option(value="2") 2015
                                                    option(value="3") 2014
                                                    option(value="4") 2013

                                                div.form__ingroup
                                                    label.custom-control.custom-checkbox
                                                        input.custom-control-input(id="filterPriceSquare", name="filterPriceSquare", type="checkbox")
                                                        span.custom-control-indicator
                                                            != pugHelpers.Icon.call(locals, {iconName: 'checkmark', className: 'icon icon-checkmark', iconWidth: '24', iconHeight: '24'})
                                                        span.custom-control-description I кв.
                                                    label.custom-control.custom-checkbox
                                                        input.custom-control-input(id="filterPriceSquare-1", name="filterPriceSquare", type="checkbox")
                                                        span.custom-control-indicator
                                                            != pugHelpers.Icon.call(locals, {iconName: 'checkmark', className: 'icon icon-checkmark', iconWidth: '24', iconHeight: '24'})
                                                        span.custom-control-description II кв.
                                                    label.custom-control.custom-checkbox
                                                        input.custom-control-input(id="filterPriceSquare-1", name="filterPriceSquare", type="checkbox")
                                                        span.custom-control-indicator
                                                            != pugHelpers.Icon.call(locals, {iconName: 'checkmark', className: 'icon icon-checkmark', iconWidth: '24', iconHeight: '24'})
                                                        span.custom-control-description III кв.
                                                    label.custom-control.custom-checkbox
                                                        input.custom-control-input(id="filterPriceSquare-1", name="filterPriceSquare", type="checkbox")
                                                        span.custom-control-indicator
                                                            != pugHelpers.Icon.call(locals, {iconName: 'checkmark', className: 'icon icon-checkmark', iconWidth: '24', iconHeight: '24'})
                                                        span.custom-control-description IV кв.

                                        div.form-group.row
                                            label.col-md-4.col-form-label(for="") Выберете тип квартиры:
                                            div.col-md-8
                                                select.form-control.select2(data-width="100%")
                                                    option(value="0") Любой
                                                    option(value="1") Комнат 2
                                                    option(value="2") Комнат 3
                                                    option(value="3") Комнат 4
                                                    option(value="4") Комнат 5

                                        div.form-group.row
                                            label.col-md-4.col-form-label(for="") Предпочтительный бюджет на покупку квартиры:
                                            div.col-md-8
                                                div.row
                                                    div.col.col-6.col-md-4
                                                        label.custom-control.custom-checkbox
                                                            input.custom-control-input(name="amount", type="checkbox")
                                                            span.custom-control-indicator
                                                                != pugHelpers.Icon.call(locals, {iconName: 'checkmark', className: 'icon icon-checkmark', iconWidth: '24', iconHeight: '24'})
                                                            span.custom-control-description до 1,1 млн.
                                                    div.col.col-6.col-md-4
                                                        label.custom-control.custom-checkbox
                                                            input.custom-control-input(name="amount", type="checkbox")
                                                            span.custom-control-indicator
                                                                != pugHelpers.Icon.call(locals, {iconName: 'checkmark', className: 'icon icon-checkmark', iconWidth: '24', iconHeight: '24'})
                                                            span.custom-control-description до 1,6 млн.
                                                    div.col.col-6.col-md-4
                                                        label.custom-control.custom-checkbox
                                                            input.custom-control-input(name="amount", type="checkbox")
                                                            span.custom-control-indicator
                                                                != pugHelpers.Icon.call(locals, {iconName: 'checkmark', className: 'icon icon-checkmark', iconWidth: '24', iconHeight: '24'})
                                                            span.custom-control-description до 2 млн.
                                                    div.col.col-6.col-md-4
                                                        label.custom-control.custom-checkbox
                                                            input.custom-control-input(name="amount", type="checkbox")
                                                            span.custom-control-indicator
                                                                != pugHelpers.Icon.call(locals, {iconName: 'checkmark', className: 'icon icon-checkmark', iconWidth: '24', iconHeight: '24'})
                                                            span.custom-control-description до 3 млн.
                                                    div.col.col-6.col-md-4
                                                        label.custom-control.custom-checkbox
                                                            input.custom-control-input(name="amount", type="checkbox")
                                                            span.custom-control-indicator
                                                                != pugHelpers.Icon.call(locals, {iconName: 'checkmark', className: 'icon icon-checkmark', iconWidth: '24', iconHeight: '24'})
                                                            span.custom-control-description до 4 млн.
                                                    div.col.col-6.col-md-4
                                                        label.custom-control.custom-checkbox
                                                            input.custom-control-input(name="amount", type="checkbox")
                                                            span.custom-control-indicator
                                                                != pugHelpers.Icon.call(locals, {iconName: 'checkmark', className: 'icon icon-checkmark', iconWidth: '24', iconHeight: '24'})
                                                            span.custom-control-description.--no-wrap до 5 млн. и выше

                                        div.form-group.row
                                            label.col-md-4.col-form-label(for="") Комментарии*:
                                            div.col-md-8
                                                textarea.form-control(type="text", placeholder="Предподчительное расположение объекта", rows="6")

                                    hr.form__hr

                                    div.form__body
                                        div.form-group.row
                                            label.col-md-4.col-form-label(for="") 
                                                |Имя
                                                span.form-group__req *
                                            div.col-md-8.has-danger
                                                input.form-control(type="text", placeholder="Как к Вам обращаться")
                                                span.form-control__hint.--danger
                                                    != pugHelpers.Icon.call(locals, {iconName: 'warning', className: 'icon icon-warning', iconWidth: '24', iconHeight: '24'}) 
                                                    |Поле является обязательным!

                                        div.form-group.row
                                            label.col-md-4.col-form-label(for="") 
                                                |Телефон
                                                span.form-group__req *
                                            div.col-md-8
                                                input.form-control(type="tel", placeholder="Введите Ваш номер телефона")

                                        div.form-group.row
                                            label.col-md-4.col-form-label(for="") 
                                                |Почта
                                                span.form-group__req *
                                            div.col-md-8
                                                input.form-control(type="email", placeholder="Введите Ваш реальный e-mail")

                                    hr.form__hr

                                    div.form__body
                                        div.form-group.row
                                            label.col-md-4.col-form-label.form__hidden-sm-down(for="") &nbsp;
                                            div.col-md-8.form__submit-holder
                                                input.btn.btn-warning.btn-lg.btn-block(type="submit", value="Отправить заявку", role="button")
                                                div.form__ingroup
                                                    label.custom-control.custom-checkbox
                                                        input.custom-control-input(name="amount", type="checkbox")
                                                        span.custom-control-indicator
                                                            != pugHelpers.Icon.call(locals, {iconName: 'checkmark', className: 'icon icon-checkmark', iconWidth: '24', iconHeight: '24'})
                                                        span.custom-control-description
                                                            |Я согласен на 
                                                            a(href="#") обработку персональных данных
                    //END block --alloted

                    section.block.--support
                        div.page__container.--sm
                            div.block__content
                                div.contacts
                                    span.contacts__icon
                                    div.contacts__text
                                        p Если у вас возникли вопросы задайте их на почту:
                                    div.contacts__action
                                        a(href="mailto: support@pronovostroy.ru") support@pronovostroy.ru
                // END page main

                // END page sidebar

            // END page content


            //- START page header
            +footer(data)
            //- END page header

        // END page wrapper

        // START common scripts
        +foot(data)
        // END common scripts

        // START page scripts
        // END page scripts