.block{
    $_: '.block';
    @include media-breakpoint-down(sm) {
        padding-top: rem(36);
        padding-bottom: rem(36);
        &__header{
            margin-bottom: rem(28);
        }
        &__title{
            font-size: rem(28);
        }
        &__text{
            font-size: 1rem;
        }

        &.\--allotted {
            #{$_}__header{
                padding-bottom: rem(28);
            }
        }
        
    }
    @include media-breakpoint-up(sm) {
        padding-top: rem(50);
        padding-bottom: rem(50);
        &__header{
            margin-bottom: rem(36);
        }
        &__title{
            font-size: rem(36);
        }
        &__text{
            font-size: 1.5rem;
        }

        &.\--allotted {
            #{$_}__header{
                padding-bottom: rem(36);
            }
        }
    }
}