// START block style
.block{
    $_: '.block';
    &__title{
        display: block;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
        line-height: 1.1;
        &:not(:last-child) {
            margin-bottom: rem(7); 
        }
    }
    &__text{
        display: block;
        color: #656565;
        text-align: center;
        &:last-child {
            margin-bottom: 0;
        }
    }
    
    &.\--allotted {
        background-color: $gray-lightest;
        #{$_}__header{
            border-bottom: 1px solid #dedede;
        }
    }

    
}

@import 'block-responsive';
// END block style