// Common styles of the project

html, body {
    height: 100%;
}

// START page style
.page {
    $_ : '.page';
    background: $gray-lightest;
    &__container{
        margin-left: auto;
        margin-right: auto;
        padding-left: $grid-gutter-width-base / 2;
        padding-right: $grid-gutter-width-base / 2;
        max-width: 1240px;
        &.\--sm {
            max-width: 900px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    &__wrapper{}
    &__content{
        background: $white;
    }
    &__main{}
    &__sidebar{}
    &__header{
        background: $white;
    }
    &__footer{
        padding-top: rem(18);
        padding-bottom: rem(20);
        color: $white;
        font-size: rem(12);
        font-weight: 400;
        background: $brand-primary;
        a{
            color: $white;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

* html .page__wrapper {
    height: 100%;
}
// END page style

@import 'common-responsive';