.page{
    $_ : '.page';
    @include media-breakpoint-up(sm) {
        &__container{
            padding-right: $grid-gutter-width-base;
            padding-left: $grid-gutter-width-base;
        }
    }
    @include media-breakpoint-up(md) {
        &__container{
            padding-right: $grid-gutter-width-md;
            padding-left: $grid-gutter-width-md;
        }
        &__footer{
            padding-top: rem(38);
            padding-bottom: rem(40);
        }
    }
    @include media-breakpoint-up(xl) {
        &__container{
            padding-left: 50px;
            padding-right: 50px;
        }
    }
}