/* Your custom fonts here */

/* Example

@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/Custom-Font.eot');
    src: url('../fonts/Custom-Font.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Custom-Font.woff') format('woff'),
         url('../fonts/Custom-Font.svg#custom_font') format('svg');
    font-weight: 400;       // For normal width. It could has another value
    font-style: normal;     // Also could has another value
    }


// Var for using custom font
$CustomFont: 'CustomFont', Helvetica, Arial, sans-serif;
*/

@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/NotoSans/subset-NotoSans-Bold.eot');
    src: local('Noto Sans Bold'), local('NotoSans-Bold'),
        url('../fonts/NotoSans/subset-NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NotoSans/subset-NotoSans-Bold.woff2') format('woff2'),
        url('../fonts/NotoSans/subset-NotoSans-Bold.woff') format('woff'),
        url('../fonts/NotoSans/subset-NotoSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/NotoSans/subset-NotoSans.eot');
    src: local('Noto Sans'), local('NotoSans'),
        url('../fonts/NotoSans/subset-NotoSans.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NotoSans/subset-NotoSans.woff2') format('woff2'),
        url('../fonts/NotoSans/subset-NotoSans.woff') format('woff'),
        url('../fonts/NotoSans/subset-NotoSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/subset-Roboto-Regular.eot');
    src: local('Roboto'), local('Roboto-Regular'),
        url('../fonts/Roboto/subset-Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto/subset-Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto/subset-Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto/subset-Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}