.select2-dropdown {
    background-color: $white;
    border: $input-border-width solid $brand-primary;
    border-radius: 0;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: -100000px;
    width: 100%;
    z-index: 1051;
}

.select2-results {
    display: block;
}

.select2-results__options {
    list-style: none;
    margin: 0;
    padding: 0;
}

.select2-results__option {
    color: $gray;
    padding: .40625rem .875rem;
    font-size: .875rem;
    line-height: 1.25;
    &[aria-selected] {
        cursor: pointer;
    }
}

.select2-container--open .select2-dropdown {
    left: 0;
}

.select2-search--dropdown {
    display: block;
    padding: 4px;

    .select2-search__field {
        padding: 4px;
        width: 100%;
        box-sizing: border-box;

        &::-webkit-search-cancel-button {
            -webkit-appearance: none;
        }
    }

    &.select2-search--hide {
        display: none;
    }
}
