// START footer style
.footer {
    $_: '.footer';
    text-align: center;
    max-width: 1040px;
    p{
        line-height: 1.2;
        &:last-child{
            margin-bottom: 0;
        }
    }
}

@import 'footer-responsive';
// END footer style
