mixin footer(data)
    // START footer
    footer.page__footer(role="footer")
        div.footer.page__container
            p Экспертный портал 
                a(href="#") «ПроНовострой»
                | выстраивает свою работу на принципах компетентности и доверия. Портал предоставляет актуальную информацию на рынке недвижимости в сегменте нового жилья, выступает экспертом в вопросах коммуникаций между строительными, сервисными, монтажными и проектировочными компаниями и реальным клиентом, покупателем нового жилья.
    // END footer