@charset "UTF-8";
/* Libraries, which is used in current project. */
/*!
 * Bootstrap v4.0.0-alpha.6 (https://getbootstrap.com)
 * Copyright 2011-2017 The Bootstrap Authors
 * Copyright 2011-2017 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@-ms-viewport {
  width: device-width;
}

html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Noto Sans", Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #303030;
  background-color: #fff;
}

[tabindex="-1"]:focus {
  outline: none !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  cursor: help;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

a {
  color: #007bba;
  text-decoration: none;
}

a:focus, a:hover {
  color: #00486e;
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
}

[role="button"] {
  cursor: pointer;
}

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

table {
  border-collapse: collapse;
  background-color: transparent;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #a1a1a1;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: left;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
textarea {
  line-height: inherit;
}

input[type="radio"]:disabled,
input[type="checkbox"]:disabled {
  cursor: not-allowed;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
}

input[type="search"] {
  -webkit-appearance: none;
}

output {
  display: inline-block;
}

[hidden] {
  display: none !important;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.display-1 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.1;
}

.display-2 {
  font-size: 5.5rem;
  font-weight: 300;
  line-height: 1.1;
}

.display-3 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.1;
}

.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.1;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

small,
.small {
  font-size: 80%;
  font-weight: normal;
}

mark,
.mark {
  padding: 0.2em;
  background-color: #fcf8e3;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline-item {
  display: inline-block;
}

.list-inline-item:not(:last-child) {
  margin-right: 5px;
}

.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

.blockquote {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  border-left: 0.25rem solid #eceeef;
}

.blockquote-footer {
  display: block;
  font-size: 80%;
  color: #a1a1a1;
}

.blockquote-footer::before {
  content: "\2014 \00A0";
}

.blockquote-reverse {
  padding-right: 1rem;
  padding-left: 0;
  text-align: right;
  border-right: 0.25rem solid #eceeef;
  border-left: 0;
}

.blockquote-reverse .blockquote-footer::before {
  content: "";
}

.blockquote-reverse .blockquote-footer::after {
  content: "\00A0 \2014";
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 10px;
  padding-left: 10px;
}

.container-fluid {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 10px;
  padding-left: 10px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: auto;
}

.col-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.33333%;
          flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.66667%;
          flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.66667%;
          flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.33333%;
          flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66667%;
          flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.33333%;
          flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91.66667%;
          flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.col-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.pull-0 {
  right: auto;
}

.pull-1 {
  right: 8.33333%;
}

.pull-2 {
  right: 16.66667%;
}

.pull-3 {
  right: 25%;
}

.pull-4 {
  right: 33.33333%;
}

.pull-5 {
  right: 41.66667%;
}

.pull-6 {
  right: 50%;
}

.pull-7 {
  right: 58.33333%;
}

.pull-8 {
  right: 66.66667%;
}

.pull-9 {
  right: 75%;
}

.pull-10 {
  right: 83.33333%;
}

.pull-11 {
  right: 91.66667%;
}

.pull-12 {
  right: 100%;
}

.push-0 {
  left: auto;
}

.push-1 {
  left: 8.33333%;
}

.push-2 {
  left: 16.66667%;
}

.push-3 {
  left: 25%;
}

.push-4 {
  left: 33.33333%;
}

.push-5 {
  left: 41.66667%;
}

.push-6 {
  left: 50%;
}

.push-7 {
  left: 58.33333%;
}

.push-8 {
  left: 66.66667%;
}

.push-9 {
  left: 75%;
}

.push-10 {
  left: 83.33333%;
}

.push-11 {
  left: 91.66667%;
}

.push-12 {
  left: 100%;
}

.offset-1 {
  margin-left: 8.33333%;
}

.offset-2 {
  margin-left: 16.66667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.33333%;
}

.offset-5 {
  margin-left: 41.66667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.33333%;
}

.offset-8 {
  margin-left: 66.66667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.33333%;
}

.offset-11 {
  margin-left: 91.66667%;
}

.form-control, .select2-container--default .select2-search--dropdown .select2-search__field {
  display: block;
  width: 100%;
  padding: 0.625rem 1rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #474747;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0;
}

.form-control::-ms-expand, .select2-container--default .select2-search--dropdown .select2-search__field::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control:focus, .select2-container--default .select2-search--dropdown .select2-search__field:focus {
  color: #474747;
  background-color: #fff;
  border-color: #a9a1ba;
  outline: none;
}

.form-control::-webkit-input-placeholder, .select2-container--default .select2-search--dropdown .select2-search__field::-webkit-input-placeholder {
  color: #a1a1a1;
  opacity: 1;
}

.form-control:-ms-input-placeholder, .select2-container--default .select2-search--dropdown .select2-search__field:-ms-input-placeholder {
  color: #a1a1a1;
  opacity: 1;
}

.form-control::placeholder, .select2-container--default .select2-search--dropdown .select2-search__field::placeholder {
  color: #a1a1a1;
  opacity: 1;
}

.form-control:disabled, .select2-container--default .select2-search--dropdown .select2-search__field:disabled, .form-control[readonly], .select2-container--default .select2-search--dropdown [readonly].select2-search__field {
  background-color: #eceeef;
  opacity: 1;
}

.form-control:disabled, .select2-container--default .select2-search--dropdown .select2-search__field:disabled {
  cursor: not-allowed;
}

select.form-control:not([size]):not([multiple]), .select2-container--default .select2-search--dropdown select.select2-search__field:not([size]):not([multiple]) {
  height: calc(2.34375rem + 2px);
}

select.form-control:focus::-ms-value, .select2-container--default .select2-search--dropdown select.select2-search__field:focus::-ms-value {
  color: #474747;
  background-color: #fff;
}

.form-control-file,
.form-control-range {
  display: block;
}

.col-form-label {
  padding-top: calc(0.625rem - 1px * 2);
  padding-bottom: calc(0.625rem - 1px * 2);
  margin-bottom: 0;
}

.col-form-label-lg {
  padding-top: calc(0.75rem - 1px * 2);
  padding-bottom: calc(0.75rem - 1px * 2);
  font-size: 1.25rem;
}

.col-form-label-sm {
  padding-top: calc(0.25rem - 1px * 2);
  padding-bottom: calc(0.25rem - 1px * 2);
  font-size: 0.875rem;
}

.col-form-legend {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  margin-bottom: 0;
  font-size: 1rem;
}

.form-control-static {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  margin-bottom: 0;
  line-height: 1.25;
  border: solid transparent;
  border-width: 1px 0;
}

.form-control-static.form-control-sm, .select2-container--default .select2-search--dropdown .form-control-static.select2-search__field, .form-control-static.form-control-lg {
  padding-right: 0;
  padding-left: 0;
}

.form-control-sm, .select2-container--default .select2-search--dropdown .select2-search__field {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}

select.form-control-sm:not([size]):not([multiple]), .select2-container--default .select2-search--dropdown select.select2-search__field:not([size]):not([multiple]) {
  height: 1.8125rem;
}

.form-control-lg {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
}

select.form-control-lg:not([size]):not([multiple]) {
  height: 3.16667rem;
}

.form-group {
  margin-bottom: 1.25rem;
}

.form-text {
  display: block;
  margin-top: 0.25rem;
}

.form-check {
  position: relative;
  display: block;
  margin-bottom: 0.5rem;
}

.form-check.disabled .form-check-label {
  color: #a1a1a1;
  cursor: not-allowed;
}

.form-check-label {
  padding-left: 1.25rem;
  margin-bottom: 0;
  cursor: pointer;
}

.form-check-input {
  position: absolute;
  margin-top: 0.25rem;
  margin-left: -1.25rem;
}

.form-check-input:only-child {
  position: static;
}

.form-check-inline {
  display: inline-block;
}

.form-check-inline .form-check-label {
  vertical-align: middle;
}

.form-check-inline + .form-check-inline {
  margin-left: 0.75rem;
}

.form-control-feedback {
  margin-top: 0.25rem;
}

.form-control-success,
.form-control-warning,
.form-control-danger {
  padding-right: 3rem;
  background-repeat: no-repeat;
  background-position: center right 0.58594rem;
  background-size: 1.17188rem 1.17188rem;
}

.has-success .form-control-feedback,
.has-success .form-control-label,
.has-success .col-form-label,
.has-success .form-check-label,
.has-success .custom-control {
  color: #5cb85c;
}

.has-success .form-control, .has-success .select2-container--default .select2-search--dropdown .select2-search__field, .select2-container--default .select2-search--dropdown .has-success .select2-search__field {
  border-color: #5cb85c;
}

.has-success .input-group-addon {
  color: #5cb85c;
  border-color: #5cb85c;
  background-color: #eaf6ea;
}

.has-success .form-control-success {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%235cb85c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");
}

.has-warning .form-control-feedback,
.has-warning .form-control-label,
.has-warning .col-form-label,
.has-warning .form-check-label,
.has-warning .custom-control {
  color: #ff6f2f;
}

.has-warning .form-control, .has-warning .select2-container--default .select2-search--dropdown .select2-search__field, .select2-container--default .select2-search--dropdown .has-warning .select2-search__field {
  border-color: #ff6f2f;
}

.has-warning .input-group-addon {
  color: #ff6f2f;
  border-color: #ff6f2f;
  background-color: #fffcfb;
}

.has-warning .form-control-warning {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23ff6f2f' d='M4.4 5.324h-.8v-2.46h.8zm0 1.42h-.8V5.89h.8zM3.76.63L.04 7.075c-.115.2.016.425.26.426h7.397c.242 0 .372-.226.258-.426C6.726 4.924 5.47 2.79 4.253.63c-.113-.174-.39-.174-.494 0z'/%3E%3C/svg%3E");
}

.has-danger .form-control-feedback,
.has-danger .form-control-label,
.has-danger .col-form-label,
.has-danger .form-check-label,
.has-danger .custom-control {
  color: #d9534f;
}

.has-danger .form-control, .has-danger .select2-container--default .select2-search--dropdown .select2-search__field, .select2-container--default .select2-search--dropdown .has-danger .select2-search__field {
  border-color: #d9534f;
}

.has-danger .input-group-addon {
  color: #d9534f;
  border-color: #d9534f;
  background-color: #fdf7f7;
}

.has-danger .form-control-danger {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d9534f' viewBox='-2 -2 7 7'%3E%3Cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E");
}

.form-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-inline .form-check {
  width: 100%;
}

.btn {
  display: inline-block;
  font-weight: 700;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent;
  padding: 1.125rem 2.5rem;
  font-size: 1rem;
}

.btn:focus, .btn:hover {
  text-decoration: none;
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgba(104, 93, 126, 0.25);
}

.btn.disabled, .btn:disabled {
  cursor: not-allowed;
  opacity: .65;
}

.btn:active, .btn.active {
  background-image: none;
}

a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}

.btn-primary {
  color: #fff;
  background-color: #685d7e;
  border-color: #685d7e;
}

.btn-primary:hover {
  color: #fff;
  background-color: #504761;
  border-color: #4b435b;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 2px rgba(104, 93, 126, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: #685d7e;
  border-color: #685d7e;
}

.btn-primary:active, .btn-primary.active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #504761;
  background-image: none;
  border-color: #4b435b;
}

.btn-secondary {
  color: #595959;
  background-color: #fff;
  border-color: #ccc;
}

.btn-secondary:hover {
  color: #595959;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.btn-secondary:focus, .btn-secondary.focus {
  box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.5);
}

.btn-secondary.disabled, .btn-secondary:disabled {
  background-color: #fff;
  border-color: #ccc;
}

.btn-secondary:active, .btn-secondary.active,
.show > .btn-secondary.dropdown-toggle {
  color: #595959;
  background-color: #e6e6e6;
  background-image: none;
  border-color: #adadad;
}

.btn-info {
  color: #fff;
  background-color: #007bba;
  border-color: #007bba;
}

.btn-info:hover {
  color: #fff;
  background-color: #005987;
  border-color: #00537d;
}

.btn-info:focus, .btn-info.focus {
  box-shadow: 0 0 0 2px rgba(0, 123, 186, 0.5);
}

.btn-info.disabled, .btn-info:disabled {
  background-color: #007bba;
  border-color: #007bba;
}

.btn-info:active, .btn-info.active,
.show > .btn-info.dropdown-toggle {
  color: #fff;
  background-color: #005987;
  background-image: none;
  border-color: #00537d;
}

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.btn-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #419641;
}

.btn-success:focus, .btn-success.focus {
  box-shadow: 0 0 0 2px rgba(92, 184, 92, 0.5);
}

.btn-success.disabled, .btn-success:disabled {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.btn-success:active, .btn-success.active,
.show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #449d44;
  background-image: none;
  border-color: #419641;
}

.btn-warning {
  color: #fff;
  background-color: #ff6f2f;
  border-color: #ff6f2f;
}

.btn-warning:hover {
  color: #fff;
  background-color: #fb4d00;
  border-color: #f14a00;
}

.btn-warning:focus, .btn-warning.focus {
  box-shadow: 0 0 0 2px rgba(255, 111, 47, 0.5);
}

.btn-warning.disabled, .btn-warning:disabled {
  background-color: #ff6f2f;
  border-color: #ff6f2f;
}

.btn-warning:active, .btn-warning.active,
.show > .btn-warning.dropdown-toggle {
  color: #fff;
  background-color: #fb4d00;
  background-image: none;
  border-color: #f14a00;
}

.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
}

.btn-danger:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #c12e2a;
}

.btn-danger:focus, .btn-danger.focus {
  box-shadow: 0 0 0 2px rgba(217, 83, 79, 0.5);
}

.btn-danger.disabled, .btn-danger:disabled {
  background-color: #d9534f;
  border-color: #d9534f;
}

.btn-danger:active, .btn-danger.active,
.show > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #c9302c;
  background-image: none;
  border-color: #c12e2a;
}

.btn-outline-primary {
  color: #685d7e;
  background-image: none;
  background-color: transparent;
  border-color: #685d7e;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #685d7e;
  border-color: #685d7e;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 2px rgba(104, 93, 126, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #685d7e;
  background-color: transparent;
}

.btn-outline-primary:active, .btn-outline-primary.active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #685d7e;
  border-color: #685d7e;
}

.btn-outline-secondary {
  color: #ccc;
  background-image: none;
  background-color: transparent;
  border-color: #ccc;
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: #ccc;
  border-color: #ccc;
}

.btn-outline-secondary:focus, .btn-outline-secondary.focus {
  box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.5);
}

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
  color: #ccc;
  background-color: transparent;
}

.btn-outline-secondary:active, .btn-outline-secondary.active,
.show > .btn-outline-secondary.dropdown-toggle {
  color: #fff;
  background-color: #ccc;
  border-color: #ccc;
}

.btn-outline-info {
  color: #007bba;
  background-image: none;
  background-color: transparent;
  border-color: #007bba;
}

.btn-outline-info:hover {
  color: #fff;
  background-color: #007bba;
  border-color: #007bba;
}

.btn-outline-info:focus, .btn-outline-info.focus {
  box-shadow: 0 0 0 2px rgba(0, 123, 186, 0.5);
}

.btn-outline-info.disabled, .btn-outline-info:disabled {
  color: #007bba;
  background-color: transparent;
}

.btn-outline-info:active, .btn-outline-info.active,
.show > .btn-outline-info.dropdown-toggle {
  color: #fff;
  background-color: #007bba;
  border-color: #007bba;
}

.btn-outline-success {
  color: #5cb85c;
  background-image: none;
  background-color: transparent;
  border-color: #5cb85c;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.btn-outline-success:focus, .btn-outline-success.focus {
  box-shadow: 0 0 0 2px rgba(92, 184, 92, 0.5);
}

.btn-outline-success.disabled, .btn-outline-success:disabled {
  color: #5cb85c;
  background-color: transparent;
}

.btn-outline-success:active, .btn-outline-success.active,
.show > .btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.btn-outline-warning {
  color: #ff6f2f;
  background-image: none;
  background-color: transparent;
  border-color: #ff6f2f;
}

.btn-outline-warning:hover {
  color: #fff;
  background-color: #ff6f2f;
  border-color: #ff6f2f;
}

.btn-outline-warning:focus, .btn-outline-warning.focus {
  box-shadow: 0 0 0 2px rgba(255, 111, 47, 0.5);
}

.btn-outline-warning.disabled, .btn-outline-warning:disabled {
  color: #ff6f2f;
  background-color: transparent;
}

.btn-outline-warning:active, .btn-outline-warning.active,
.show > .btn-outline-warning.dropdown-toggle {
  color: #fff;
  background-color: #ff6f2f;
  border-color: #ff6f2f;
}

.btn-outline-danger {
  color: #d9534f;
  background-image: none;
  background-color: transparent;
  border-color: #d9534f;
}

.btn-outline-danger:hover {
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
}

.btn-outline-danger:focus, .btn-outline-danger.focus {
  box-shadow: 0 0 0 2px rgba(217, 83, 79, 0.5);
}

.btn-outline-danger.disabled, .btn-outline-danger:disabled {
  color: #d9534f;
  background-color: transparent;
}

.btn-outline-danger:active, .btn-outline-danger.active,
.show > .btn-outline-danger.dropdown-toggle {
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
}

.btn-link {
  font-weight: normal;
  color: #007bba;
  border-radius: 0;
}

.btn-link, .btn-link:active, .btn-link.active, .btn-link:disabled {
  background-color: transparent;
}

.btn-link, .btn-link:focus, .btn-link:active {
  border-color: transparent;
}

.btn-link:hover {
  border-color: transparent;
}

.btn-link:focus, .btn-link:hover {
  color: #00486e;
  text-decoration: underline;
  background-color: transparent;
}

.btn-link:disabled {
  color: #a1a1a1;
}

.btn-link:disabled:focus, .btn-link:disabled:hover {
  text-decoration: none;
}

.btn-lg {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-block + .btn-block {
  margin-top: 0.5rem;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}

.custom-control {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-height: 1.5rem;
  padding-left: 1.5rem;
  margin-right: 1rem;
  cursor: pointer;
}

.custom-control-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-control-input:checked ~ .custom-control-indicator {
  color: #000;
  background-color: #fff;
}

.custom-control-input:focus ~ .custom-control-indicator {
  box-shadow: none;
}

.custom-control-input:active ~ .custom-control-indicator {
  color: #fff;
  background-color: #fff;
}

.custom-control-input:disabled ~ .custom-control-indicator {
  cursor: not-allowed;
  background-color: #eceeef;
}

.custom-control-input:disabled ~ .custom-control-description {
  color: #a1a1a1;
  cursor: not-allowed;
}

.custom-control-indicator {
  position: absolute;
  top: 0.0625rem;
  left: 0;
  display: block;
  width: 1.375rem;
  height: 1.375rem;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-indicator {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23000' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-indicator {
  background-color: #685d7e;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath stroke='%23000' d='M0 2h4'/%3E%3C/svg%3E");
}

.custom-radio .custom-control-indicator {
  border-radius: 50%;
}

.custom-radio .custom-control-input:checked ~ .custom-control-indicator {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23000'/%3E%3C/svg%3E");
}

.custom-controls-stacked {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.custom-controls-stacked .custom-control {
  margin-bottom: 0.25rem;
}

.custom-controls-stacked .custom-control + .custom-control {
  margin-left: 0;
}

.custom-select {
  display: inline-block;
  max-width: 100%;
  height: calc(2.34375rem + 2px);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  line-height: 1.25;
  color: #474747;
  vertical-align: middle;
  background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center;
  background-size: 8px 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -moz-appearance: none;
  -webkit-appearance: none;
}

.custom-select:focus {
  border-color: #a9a1ba;
  outline: none;
}

.custom-select:focus::-ms-value {
  color: #474747;
  background-color: #fff;
}

.custom-select:disabled {
  color: #a1a1a1;
  cursor: not-allowed;
  background-color: #eceeef;
}

.custom-select::-ms-expand {
  opacity: 0;
}

.custom-select-sm {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  font-size: 75%;
}

.custom-file {
  position: relative;
  display: inline-block;
  max-width: 100%;
  height: 2.5rem;
  margin-bottom: 0;
  cursor: pointer;
}

.custom-file-input {
  min-width: 14rem;
  max-width: 100%;
  height: 2.5rem;
  margin: 0;
  filter: alpha(opacity=0);
  opacity: 0;
}

.custom-file-control {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  height: 2.5rem;
  padding: 0.5rem 1rem;
  line-height: 1.5;
  color: #474747;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.custom-file-control:lang(en)::after {
  content: "Choose file...";
}

.custom-file-control:lang(ru)::after {
  content: "Выберите изображение";
}

.custom-file-control::before {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  z-index: 6;
  display: block;
  height: 2.5rem;
  padding: 0.5rem 1rem;
  line-height: 1.5;
  color: #474747;
  background-color: #eceeef;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.custom-file-control:lang(en)::before {
  content: "Browse";
}

.custom-file-control:lang(ru)::before {
  content: "Загрузить";
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.embed-responsive::before {
  display: block;
  content: "";
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-21by9::before {
  padding-top: 42.85714%;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive-4by3::before {
  padding-top: 75%;
}

.embed-responsive-1by1::before {
  padding-top: 100%;
}

.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
  outline: none !important;
}

.select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 2.4375rem;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  padding-left: 1rem;
  padding-right: 2rem;
  overflow: hidden;
  font-size: .875rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select2-container .select2-selection--single .select2-selection__clear {
  position: relative;
}

.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
  padding-right: 8px;
  padding-left: 20px;
}

.select2-container .select2-selection--multiple {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  min-height: 32px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
  display: inline-block;
  overflow: hidden;
  padding-left: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select2-container .select2-search--inline {
  float: left;
}

.select2-container .select2-search--inline .select2-search__field {
  box-sizing: border-box;
  border: none;
  font-size: 100%;
  margin-top: 5px;
  padding: 0;
}

.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.select2-container *:focus {
  outline: none;
}

.select2-dropdown {
  background-color: #fff;
  border: 1px solid #685d7e;
  border-radius: 0;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051;
}

.select2-results {
  display: block;
}

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0;
}

.select2-results__option {
  color: #474747;
  padding: .40625rem .875rem;
  font-size: .875rem;
  line-height: 1.25;
}

.select2-results__option[aria-selected] {
  cursor: pointer;
}

.select2-container--open .select2-dropdown {
  left: 0;
}

.select2-search--dropdown {
  display: block;
  padding: 4px;
}

.select2-search--dropdown .select2-search__field {
  padding: 4px;
  width: 100%;
  box-sizing: border-box;
}

.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.select2-search--dropdown.select2-search--hide {
  display: none;
}

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
  filter: alpha(opacity=0);
}

.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: inherit;
  line-height: 2.4375rem;
  outline: none !important;
  color: #a1a1a1;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #a1a1a1;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 2rem;
  height: 100%;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  border: 0;
  height: .875rem;
  width: .875rem;
  background: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='24' height='24' viewBox='0 0 24 24' fill='rgba(0, 0, 0, 0.15)'%3E%3Cpath d='M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z'/%3E%3C/svg%3E") no-repeat 50% 50%;
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left;
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: auto;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #eceeef;
  cursor: default;
}

.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
  display: none;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
          transform: translate(-50%, -50%) rotate(180deg);
  background: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='24' height='24' viewBox='0 0 24 24' fill='%23685d7e'%3E%3Cpath d='M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z'/%3E%3C/svg%3E") no-repeat 50% 50%;
}

.select2-container--default .select2-selection--multiple {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0;
  cursor: text;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0 5px;
  width: 100%;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
  list-style: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__placeholder {
  color: #a1a1a1;
  margin-top: 5px;
  float: left;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-top: 5px;
  margin-right: 10px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #999;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #333;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-search--inline {
  float: right;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid black 1px;
  outline: 0;
}

.select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: #eee;
  cursor: default;
}

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none;
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--default.select2-container--focus .select2-selection {
  border: 1px solid #a9a1ba;
}

.select2-container--default .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0;
  box-shadow: none;
  -webkit-appearance: textfield;
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}

.select2-container--default .select2-results__option[role=group] {
  padding: 0;
}

.select2-container--default .select2-results__option[aria-disabled=true] {
  color: #a1a1a1;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  color: #fff;
  background-color: #685d7e;
}

.select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
  padding-left: 0;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -1em;
  padding-left: 2em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -2em;
  padding-left: 3em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -3em;
  padding-left: 4em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -4em;
  padding-left: 5em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -5em;
  padding-left: 6em;
}

.select2-container--default .select2-results__option--highlighted {
  background: #eceeef;
}

.select2-container--default .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}

/* Libraries, which is used in current project. */
/* Some styles, which is used for correct sprite-generation, vars, mixins and etc */
/* Please, do not edit with file! */
/* This file can be overwritten by update-project! */
/* Mixins, which are specific for current project */
/* Mixins and vars for sprite generation */
/* Scss for used fonts */
/* Your custom fonts here */
/* Example

@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/Custom-Font.eot');
    src: url('../fonts/Custom-Font.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Custom-Font.woff') format('woff'),
         url('../fonts/Custom-Font.svg#custom_font') format('svg');
    font-weight: 400;       // For normal width. It could has another value
    font-style: normal;     // Also could has another value
    }


// Var for using custom font
$CustomFont: 'CustomFont', Helvetica, Arial, sans-serif;
*/
@font-face {
  font-family: 'Noto Sans';
  src: url("../fonts/NotoSans/subset-NotoSans-Bold.eot");
  src: local("Noto Sans Bold"), local("NotoSans-Bold"), url("../fonts/NotoSans/subset-NotoSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSans/subset-NotoSans-Bold.woff2") format("woff2"), url("../fonts/NotoSans/subset-NotoSans-Bold.woff") format("woff"), url("../fonts/NotoSans/subset-NotoSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url("../fonts/NotoSans/subset-NotoSans.eot");
  src: local("Noto Sans"), local("NotoSans"), url("../fonts/NotoSans/subset-NotoSans.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSans/subset-NotoSans.woff2") format("woff2"), url("../fonts/NotoSans/subset-NotoSans.woff") format("woff"), url("../fonts/NotoSans/subset-NotoSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/subset-Roboto-Regular.eot");
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/Roboto/subset-Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/subset-Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto/subset-Roboto-Regular.woff") format("woff"), url("../fonts/Roboto/subset-Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Vars, which are specific for current project */
/* Styles for UI-elements */
/* Common styles for current project */
html, body {
  height: 100%;
}

.page {
  background: #f3f3f3;
}

.page__container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1240px;
}

.page__container.\--sm {
  max-width: 900px;
  padding-left: 10px;
  padding-right: 10px;
}

.page__content {
  background: #fff;
}

.page__header {
  background: #fff;
}

.page__footer {
  padding-top: 1.125rem;
  padding-bottom: 1.25rem;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 400;
  background: #685d7e;
}

.page__footer a {
  color: #fff;
  text-decoration: none;
}

.page__footer a:hover {
  text-decoration: underline;
}

* html .page__wrapper {
  height: 100%;
}

/* Plugins, which is used in current project. */
/* Components, which is used in current project. */
.logo {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: top;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #685d7e;
  font-size: 1rem;
  white-space: nowrap;
}

.logo__link {
  display: block;
  max-width: 160px;
}

.logo__img {
  display: block;
  height: auto;
  width: 100%;
}

.logo__text {
  display: none;
  border-left: 2px solid #ff6f2f;
  margin-top: 0.4375rem;
  margin-left: 0.625rem;
  padding-left: 0.625rem;
  line-height: 1.35em;
}

.logo__text-1 {
  position: absolute;
  left: 29%;
  bottom: 0;
  font-size: 0.625rem;
  line-height: 1;
}

.btn {
  font-size: 1.125rem;
  font-family: "Noto Sans", Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  white-space: normal;
}

.form-group {
  font-size: 0.875rem;
}

.form-group label {
  color: #595959;
}

.form-group .form-control, .form-group .select2-container--default .select2-search--dropdown .select2-search__field, .select2-container--default .select2-search--dropdown .form-group .select2-search__field {
  font-size: 0.875rem;
}

.form-group .form-control__hint {
  display: block;
  padding-top: 0.25rem;
  font-size: 0.75rem;
}

.form-group .form-control__hint .icon {
  font-size: 1rem;
  margin-top: -2px;
  margin-right: 2px;
}

.form-group .form-control__hint.\--danger {
  color: #d9534f;
}

.form-group .custom-file {
  width: 100%;
}

.form-group .custom-file-control:after {
  content: attr(data-name);
}

.form-group .custom-file-control:before {
  padding-left: 2.375rem;
  padding-right: 2.375rem;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
  background: #685d7e;
}

.form-group__req {
  color: #ff6f2f;
}

.form-control::-webkit-input-placeholder, .select2-container--default .select2-search--dropdown .select2-search__field::-webkit-input-placeholder {
  color: #a1a1a1;
  opacity: 1;
}

.form-control:-ms-input-placeholder, .select2-container--default .select2-search--dropdown .select2-search__field:-ms-input-placeholder {
  color: #a1a1a1;
  opacity: 1;
}

.form-control::placeholder, .select2-container--default .select2-search--dropdown .select2-search__field::placeholder {
  color: #a1a1a1;
  opacity: 1;
}

.form-action {
  margin-top: 2.125rem;
  text-align: center;
}

.captcha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form .custom-checkbox, .form .custom-radio {
  padding-left: 2rem;
}

.form.\--request .form__body {
  max-width: 660px;
  margin: 0 auto;
}

.custom-control-description {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: .875rem;
  line-height: 1.5rem;
}

.custom-control-description.\--no-wrap {
  white-space: nowrap;
}

.custom-control-indicator {
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.custom-control.custom-checkbox .custom-control-indicator {
  background-image: none !important;
}

.custom-control.custom-checkbox .custom-control-indicator .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  font-size: 1.25rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out;
}

.custom-control.custom-checkbox .custom-control-input:checked ~ .custom-control-indicator .icon {
  opacity: 1;
  visibility: visible;
}

.custom-control.custom-radio .custom-control-indicator {
  background-image: none !important;
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out;
}

.custom-control.custom-radio .custom-control-input:checked ~ .custom-control-indicator {
  border-color: #000;
  box-shadow: inset 0px 0px 0px 3px #fff;
  background-color: #000;
}

.custom-control a {
  color: inherit;
  text-decoration: underline;
}

/* START icon style */
.icon {
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* END icon style */
.block__title {
  display: block;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.1;
}

.block__title:not(:last-child) {
  margin-bottom: 0.4375rem;
}

.block__text {
  display: block;
  color: #656565;
  text-align: center;
}

.block__text:last-child {
  margin-bottom: 0;
}

.block.\--allotted {
  background-color: #f3f3f3;
}

.block.\--allotted .block__header {
  border-bottom: 1px solid #dedede;
}

.promo {
  color: #fff;
  text-align: center;
  background: url("../img/assets/promo/bg-promo.png") no-repeat 50% 50% #685d7e;
  background-size: cover;
}

.promo__content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1040px;
}

.promo__title {
  display: block;
  font-weight: 400;
  line-height: 1.2;
}

.promo__title-img {
  display: inline-block;
  margin: 0 1.5rem;
}

.promo__text p:last-child {
  margin-bottom: 0;
}

.promo__action .btn {
  display: inline-block;
  white-space: normal;
}

.timeline {
  position: relative;
}

.timeline:before {
  content: "";
  position: absolute;
  display: block;
  background-color: #ff6f2f;
}

.timeline__item {
  position: relative;
}

.timeline__item:before {
  position: absolute;
  top: -.5em;
  left: -1.33em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  content: attr(data-step);
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
  width: 2.25em;
  height: 2.25em;
  background: #ff6f2f;
}

.timeline__text {
  line-height: 1.2;
  font-size: 0.9375rem;
}

.timeline__text p:last-child {
  margin-bottom: 0;
}

.contacts__icon {
  display: block;
  margin: 0 auto 20px;
  font-size: 3rem;
  max-width: 1em;
  width: 100%;
  height: 1em;
  background: url("../img/assets/contacts/contacts-mail.png") no-repeat 50% 50%;
  background-size: 100% auto;
}

.contacts__text p:last-child {
  margin-bottom: 0;
}

.contacts__action {
  color: #656565;
}

.contacts__action a {
  color: inherit;
}

.header {
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
  text-align: center;
  background: #fff;
}

.footer {
  text-align: center;
  max-width: 1040px;
}

.footer p {
  line-height: 1.2;
}

.footer p:last-child {
  margin-bottom: 0;
}

/* Additional style files. */

@media print{
  *,
  *::before,
  *::after,
  p::first-letter,
  div::first-letter,
  blockquote::first-letter,
  li::first-letter,
  p::first-line,
  div::first-line,
  blockquote::first-line,
  li::first-line{
    text-shadow: none !important;
    box-shadow: none !important;
  }
  a,
  a:visited{
    text-decoration: underline;
  }
  abbr[title]::after{
    content: " (" attr(title) ")";
  }
  pre{
    white-space: pre-wrap !important;
  }
  pre,
  blockquote{
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead{
    display: table-header-group;
  }
  tr,
  img{
    page-break-inside: avoid;
  }
  p,
  h2,
  h3{
    orphans: 3;
    widows: 3;
  }
  h2,
  h3{
    page-break-after: avoid;
  }
  .navbar{
    display: none;
  }
  .badge{
    border: 1px solid #000;
  }
  .table{
    border-collapse: collapse !important;
  }
  .table td,
  .table th{
    background-color: #fff !important;
  }
  .table-bordered th,
  .table-bordered td{
    border: 1px solid #ddd !important;
  }
}

@media (min-width: 576px){
  .container{
    padding-right: 10px;
    padding-left: 10px;
  }
  .container{
    width: 540px;
    max-width: 100%;
  }
  .container-fluid{
    padding-right: 10px;
    padding-left: 10px;
  }
  .row{
    margin-right: -10px;
    margin-left: -10px;
  }
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl{
    padding-right: 10px;
    padding-left: 10px;
  }
  .col-sm{
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .col-sm-auto{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
  }
  .col-sm-1{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-sm-2{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-sm-3{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-sm-5{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-sm-6{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-sm-8{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-sm-9{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-sm-11{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-sm-12{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .pull-sm-0{
    right: auto;
  }
  .pull-sm-1{
    right: 8.33333%;
  }
  .pull-sm-2{
    right: 16.66667%;
  }
  .pull-sm-3{
    right: 25%;
  }
  .pull-sm-4{
    right: 33.33333%;
  }
  .pull-sm-5{
    right: 41.66667%;
  }
  .pull-sm-6{
    right: 50%;
  }
  .pull-sm-7{
    right: 58.33333%;
  }
  .pull-sm-8{
    right: 66.66667%;
  }
  .pull-sm-9{
    right: 75%;
  }
  .pull-sm-10{
    right: 83.33333%;
  }
  .pull-sm-11{
    right: 91.66667%;
  }
  .pull-sm-12{
    right: 100%;
  }
  .push-sm-0{
    left: auto;
  }
  .push-sm-1{
    left: 8.33333%;
  }
  .push-sm-2{
    left: 16.66667%;
  }
  .push-sm-3{
    left: 25%;
  }
  .push-sm-4{
    left: 33.33333%;
  }
  .push-sm-5{
    left: 41.66667%;
  }
  .push-sm-6{
    left: 50%;
  }
  .push-sm-7{
    left: 58.33333%;
  }
  .push-sm-8{
    left: 66.66667%;
  }
  .push-sm-9{
    left: 75%;
  }
  .push-sm-10{
    left: 83.33333%;
  }
  .push-sm-11{
    left: 91.66667%;
  }
  .push-sm-12{
    left: 100%;
  }
  .offset-sm-0{
    margin-left: 0%;
  }
  .offset-sm-1{
    margin-left: 8.33333%;
  }
  .offset-sm-2{
    margin-left: 16.66667%;
  }
  .offset-sm-3{
    margin-left: 25%;
  }
  .offset-sm-4{
    margin-left: 33.33333%;
  }
  .offset-sm-5{
    margin-left: 41.66667%;
  }
  .offset-sm-6{
    margin-left: 50%;
  }
  .offset-sm-7{
    margin-left: 58.33333%;
  }
  .offset-sm-8{
    margin-left: 66.66667%;
  }
  .offset-sm-9{
    margin-left: 75%;
  }
  .offset-sm-10{
    margin-left: 83.33333%;
  }
  .offset-sm-11{
    margin-left: 91.66667%;
  }
  .form-inline label{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0;
  }
  .form-inline .form-group{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }
  .form-inline .form-control, .form-inline .select2-container--default .select2-search--dropdown .select2-search__field, .select2-container--default .select2-search--dropdown .form-inline .select2-search__field{
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .form-inline .form-control-static{
    display: inline-block;
  }
  .form-inline .input-group{
    width: auto;
  }
  .form-inline .form-control-label{
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .form-check{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
  .form-inline .form-check-label{
    padding-left: 0;
  }
  .form-inline .form-check-input{
    position: relative;
    margin-top: 0;
    margin-right: 0.25rem;
    margin-left: 0;
  }
  .form-inline .custom-control{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0;
  }
  .form-inline .custom-control-indicator{
    position: static;
    display: inline-block;
    margin-right: 0.25rem;
    vertical-align: text-bottom;
  }
  .form-inline .has-feedback .form-control-feedback{
    top: 0;
  }
  .page__container{
    padding-right: 20px;
    padding-left: 20px;
  }
  .logo__link{
    max-width: 240px;
  }
  .logo__text-1{
    font-size: 0.875rem;
  }
  .block{
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
  }
  .block__header{
    margin-bottom: 2.25rem;
  }
  .block__title{
    font-size: 2.25rem;
  }
  .block__text{
    font-size: 1.5rem;
  }
  .block.\--allotted .block__header{
    padding-bottom: 2.25rem;
  }
  .header{
    padding-top: 1.75rem;
    padding-bottom: 1.25rem;
  }
}

@media (min-width: 768px){
  .container{
    padding-right: 15px;
    padding-left: 15px;
  }
  .container{
    width: 720px;
    max-width: 100%;
  }
  .container-fluid{
    padding-right: 15px;
    padding-left: 15px;
  }
  .row{
    margin-right: -15px;
    margin-left: -15px;
  }
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl{
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-md{
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .col-md-auto{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
  }
  .col-md-1{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-md-2{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-md-3{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-md-5{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-md-6{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-md-8{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-md-9{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-md-11{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-md-12{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .pull-md-0{
    right: auto;
  }
  .pull-md-1{
    right: 8.33333%;
  }
  .pull-md-2{
    right: 16.66667%;
  }
  .pull-md-3{
    right: 25%;
  }
  .pull-md-4{
    right: 33.33333%;
  }
  .pull-md-5{
    right: 41.66667%;
  }
  .pull-md-6{
    right: 50%;
  }
  .pull-md-7{
    right: 58.33333%;
  }
  .pull-md-8{
    right: 66.66667%;
  }
  .pull-md-9{
    right: 75%;
  }
  .pull-md-10{
    right: 83.33333%;
  }
  .pull-md-11{
    right: 91.66667%;
  }
  .pull-md-12{
    right: 100%;
  }
  .push-md-0{
    left: auto;
  }
  .push-md-1{
    left: 8.33333%;
  }
  .push-md-2{
    left: 16.66667%;
  }
  .push-md-3{
    left: 25%;
  }
  .push-md-4{
    left: 33.33333%;
  }
  .push-md-5{
    left: 41.66667%;
  }
  .push-md-6{
    left: 50%;
  }
  .push-md-7{
    left: 58.33333%;
  }
  .push-md-8{
    left: 66.66667%;
  }
  .push-md-9{
    left: 75%;
  }
  .push-md-10{
    left: 83.33333%;
  }
  .push-md-11{
    left: 91.66667%;
  }
  .push-md-12{
    left: 100%;
  }
  .offset-md-0{
    margin-left: 0%;
  }
  .offset-md-1{
    margin-left: 8.33333%;
  }
  .offset-md-2{
    margin-left: 16.66667%;
  }
  .offset-md-3{
    margin-left: 25%;
  }
  .offset-md-4{
    margin-left: 33.33333%;
  }
  .offset-md-5{
    margin-left: 41.66667%;
  }
  .offset-md-6{
    margin-left: 50%;
  }
  .offset-md-7{
    margin-left: 58.33333%;
  }
  .offset-md-8{
    margin-left: 66.66667%;
  }
  .offset-md-9{
    margin-left: 75%;
  }
  .offset-md-10{
    margin-left: 83.33333%;
  }
  .offset-md-11{
    margin-left: 91.66667%;
  }
  .page__container{
    padding-right: 30px;
    padding-left: 30px;
  }
  .page__footer{
    padding-top: 2.375rem;
    padding-bottom: 2.5rem;
  }
  .logo__link{
    max-width: 250px;
  }
  .logo__text{
    display: block;
  }
  .logo__text-1{
    display: none;
  }
  .captcha{
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .form__ingroup{
    padding-top: 1.25rem;
  }
  .form__hr{
    margin-top: 2.75rem;
    margin-bottom: 2.75rem;
  }
  .promo{
    padding-top: 5.5rem;
    padding-bottom: 7.75rem;
  }
  .promo__title{
    font-size: 2.1875rem;
    margin-bottom: 2.375rem;
  }
  .promo__text{
    font-size: 2.4375rem;
    font-weight: 700;
    line-height: 1.4;
    text-transform: uppercase;
  }
  .promo__text p:last-child{
    margin-bottom: 0;
  }
  .timeline{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    max-width: none;
    margin-top: 3.875rem;
  }
  .timeline:before{
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 5px;
  }
  .timeline__item{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333%;
            flex: 0 0 33.3333%;
    margin: 0;
    padding-top: 3rem;
    border-left: 0;
    text-align: center;
  }
  .timeline__item:last-child:after{
    display: none;
  }
  .timeline__item:before{
    top: -24px;
    left: 50%;
    font-size: 1.5rem;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .timeline__item:after{
    position: absolute;
    top: -38px;
    right: -28px;
    display: block;
    content: '';
    height: 20px;
    width: 57px;
    background: url("../img/assets/timeline/timeline-icon.png") no-repeat 50% 50%;
  }
  .timeline__content{
    max-width: 194px;
    margin: 0 auto;
  }
  .timeline__figure{
    margin-bottom: 1.375rem;
  }
  .contacts{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
  }
  .contacts__icon{
    margin: 0;
    font-size: 4rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1em;
            flex: 0 0 1em;
  }
  .contacts__text{
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    max-height: 100%;
    height: 100%;
    line-height: 1.2;
    margin-left: 1.875rem;
    padding: 1.25rem 0.03125rem 1.25rem 1.875rem;
    font-size: 1.25rem;
    color: #000;
    border-left: 2px solid #ff6f2f;
  }
  .contacts__text p:last-child{
    margin-bottom: 0;
  }
  .contacts__action{
    font-size: 1.25rem;
  }
  .header{
    text-align: left;
  }
}

@media (min-width: 992px){
  .container{
    padding-right: 15px;
    padding-left: 15px;
  }
  .container{
    width: 960px;
    max-width: 100%;
  }
  .container-fluid{
    padding-right: 15px;
    padding-left: 15px;
  }
  .row{
    margin-right: -15px;
    margin-left: -15px;
  }
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl{
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-lg{
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .col-lg-auto{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
  }
  .col-lg-1{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-lg-2{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-lg-3{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-lg-5{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-lg-6{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-lg-8{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-lg-9{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-lg-11{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-lg-12{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .pull-lg-0{
    right: auto;
  }
  .pull-lg-1{
    right: 8.33333%;
  }
  .pull-lg-2{
    right: 16.66667%;
  }
  .pull-lg-3{
    right: 25%;
  }
  .pull-lg-4{
    right: 33.33333%;
  }
  .pull-lg-5{
    right: 41.66667%;
  }
  .pull-lg-6{
    right: 50%;
  }
  .pull-lg-7{
    right: 58.33333%;
  }
  .pull-lg-8{
    right: 66.66667%;
  }
  .pull-lg-9{
    right: 75%;
  }
  .pull-lg-10{
    right: 83.33333%;
  }
  .pull-lg-11{
    right: 91.66667%;
  }
  .pull-lg-12{
    right: 100%;
  }
  .push-lg-0{
    left: auto;
  }
  .push-lg-1{
    left: 8.33333%;
  }
  .push-lg-2{
    left: 16.66667%;
  }
  .push-lg-3{
    left: 25%;
  }
  .push-lg-4{
    left: 33.33333%;
  }
  .push-lg-5{
    left: 41.66667%;
  }
  .push-lg-6{
    left: 50%;
  }
  .push-lg-7{
    left: 58.33333%;
  }
  .push-lg-8{
    left: 66.66667%;
  }
  .push-lg-9{
    left: 75%;
  }
  .push-lg-10{
    left: 83.33333%;
  }
  .push-lg-11{
    left: 91.66667%;
  }
  .push-lg-12{
    left: 100%;
  }
  .offset-lg-0{
    margin-left: 0%;
  }
  .offset-lg-1{
    margin-left: 8.33333%;
  }
  .offset-lg-2{
    margin-left: 16.66667%;
  }
  .offset-lg-3{
    margin-left: 25%;
  }
  .offset-lg-4{
    margin-left: 33.33333%;
  }
  .offset-lg-5{
    margin-left: 41.66667%;
  }
  .offset-lg-6{
    margin-left: 50%;
  }
  .offset-lg-7{
    margin-left: 58.33333%;
  }
  .offset-lg-8{
    margin-left: 66.66667%;
  }
  .offset-lg-9{
    margin-left: 75%;
  }
  .offset-lg-10{
    margin-left: 83.33333%;
  }
  .offset-lg-11{
    margin-left: 91.66667%;
  }
  .form__hr{
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

@media (min-width: 1200px){
  .container{
    padding-right: 15px;
    padding-left: 15px;
  }
  .container{
    width: 1140px;
    max-width: 100%;
  }
  .container-fluid{
    padding-right: 15px;
    padding-left: 15px;
  }
  .row{
    margin-right: -15px;
    margin-left: -15px;
  }
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl{
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-xl{
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .col-xl-auto{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
  }
  .col-xl-1{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-xl-2{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-xl-3{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-xl-5{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-xl-6{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-xl-8{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-xl-9{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-xl-11{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-xl-12{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .pull-xl-0{
    right: auto;
  }
  .pull-xl-1{
    right: 8.33333%;
  }
  .pull-xl-2{
    right: 16.66667%;
  }
  .pull-xl-3{
    right: 25%;
  }
  .pull-xl-4{
    right: 33.33333%;
  }
  .pull-xl-5{
    right: 41.66667%;
  }
  .pull-xl-6{
    right: 50%;
  }
  .pull-xl-7{
    right: 58.33333%;
  }
  .pull-xl-8{
    right: 66.66667%;
  }
  .pull-xl-9{
    right: 75%;
  }
  .pull-xl-10{
    right: 83.33333%;
  }
  .pull-xl-11{
    right: 91.66667%;
  }
  .pull-xl-12{
    right: 100%;
  }
  .push-xl-0{
    left: auto;
  }
  .push-xl-1{
    left: 8.33333%;
  }
  .push-xl-2{
    left: 16.66667%;
  }
  .push-xl-3{
    left: 25%;
  }
  .push-xl-4{
    left: 33.33333%;
  }
  .push-xl-5{
    left: 41.66667%;
  }
  .push-xl-6{
    left: 50%;
  }
  .push-xl-7{
    left: 58.33333%;
  }
  .push-xl-8{
    left: 66.66667%;
  }
  .push-xl-9{
    left: 75%;
  }
  .push-xl-10{
    left: 83.33333%;
  }
  .push-xl-11{
    left: 91.66667%;
  }
  .push-xl-12{
    left: 100%;
  }
  .offset-xl-0{
    margin-left: 0%;
  }
  .offset-xl-1{
    margin-left: 8.33333%;
  }
  .offset-xl-2{
    margin-left: 16.66667%;
  }
  .offset-xl-3{
    margin-left: 25%;
  }
  .offset-xl-4{
    margin-left: 33.33333%;
  }
  .offset-xl-5{
    margin-left: 41.66667%;
  }
  .offset-xl-6{
    margin-left: 50%;
  }
  .offset-xl-7{
    margin-left: 58.33333%;
  }
  .offset-xl-8{
    margin-left: 66.66667%;
  }
  .offset-xl-9{
    margin-left: 75%;
  }
  .offset-xl-10{
    margin-left: 83.33333%;
  }
  .offset-xl-11{
    margin-left: 91.66667%;
  }
  .page__container{
    padding-left: 50px;
    padding-right: 50px;
  }
  .promo{
    padding-top: 7.125rem;
    padding-bottom: 7.75rem;
  }
  .promo__title{
    margin-bottom: 3.875rem;
  }
  .promo__text-3{
    display: block;
  }
}

@media (max-width: 767px){
  .form__ingroup{
    padding-top: 0.625rem;
  }
  .form__hidden-sm-down{
    display: none;
  }
  .form__hr{
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .block{
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }
  .block__header{
    margin-bottom: 1.75rem;
  }
  .block__title{
    font-size: 1.75rem;
  }
  .block__text{
    font-size: 1rem;
  }
  .block.\--allotted .block__header{
    padding-bottom: 1.75rem;
  }
  .promo{
    padding-top: 2.25rem;
    padding-bottom: 4.25rem;
  }
  .promo__title{
    position: relative;
    margin-bottom: 2.25rem;
    padding-top: 3rem;
    text-align: center;
    font-size: 1.875rem;
  }
  .promo__title-img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
  }
  .promo__text-1, .promo__text-2, .promo__text-3{
    display: block;
    font-weight: 700;
    text-transform: uppercase;
  }
  .promo__text-1{
    margin-bottom: 0.4375rem;
    font-size: 2.5rem;
  }
  .promo__text-2{
    margin-bottom: 0.4375rem;
    font-size: 1.1875rem;
  }
  .promo__text-3{
    font-size: 1.875rem;
  }
  .timeline{
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5625rem;
  }
  .timeline:before{
    top: 0;
    bottom: 0;
    left: 25px;
    right: 0;
    width: 5px;
    height: 100%;
  }
  .timeline__item{
    padding: 1.75rem 0 1.75rem 3rem;
  }
  .timeline__item:before{
    top: 50%;
    left: -24px;
    font-size: 1.5rem;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  .timeline__content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .timeline__figure{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80px;
            flex: 0 0 80px;
    max-width: 80px;
  }
  .timeline__text{
    padding-left: 0.75rem;
  }
  .contacts{
    text-align: center;
  }
  .contacts__text, .contacts__action{
    display: inline-block;
  }
}

@media (max-width: 991px){
  .form__hidden-md-down{
    display: none;
  }
  .form .col-form-label{
    padding-top: 0;
  }
}
