.select2-selection--single {
    background-color: $input-bg;
    border: 1px solid $input-border-color;
    border-radius: 0;
    .select2-selection__rendered {
        color: inherit;
        line-height: 2.4375rem;
        outline: none !important;
        color: $input-color-placeholder;
    }
    .select2-selection__clear {
        cursor: pointer;
        float: right;
        font-weight: bold;
    }
    .select2-selection__placeholder {
        color: $input-color-placeholder;
    }
    .select2-selection__arrow {
        position: absolute;
        top: 1px;
        right: 1px;
        width: 2rem;
        height: 100%;
        b{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
            border: 0;
            height: .875rem;
            width: .875rem;
            background: svg-load('../../img/svg/chevron-down.svg', fill=$input-border-color) no-repeat 50% 50%;
        }
    }
}

&[dir="rtl"] {
    .select2-selection--single {
        .select2-selection__clear {
            float: left;
        }
        .select2-selection__arrow {
            left: 1px;
            right: auto;
        }
    }
}

&.select2-container--disabled {
    .select2-selection--single {
        background-color: $input-bg-disabled;
        cursor: default;
        .select2-selection__clear {
            display: none;
        }
    }
}

&.select2-container--open {
    .select2-selection--single {
        .select2-selection__arrow {
            b{
                transform: translate(-50%, -50%) rotate(180deg);
                background: svg-load('../../img/svg/chevron-down.svg', fill=$brand-primary) no-repeat 50% 50%;
            }
        }
    }
}
