mixin header(data)
    // START header 
    header.page__header(role="")
        div.header.page__container
            div.logo
                a.logo__link(href="http://pronovostroy.ru", title="Pronovostroy")
                    img.logo__img(src="%=static=%img/general/logo.svg", width="250", height="40", alt="Pronovostroy")
                span.logo__text Первый независимый форум о новостройках
                span.logo__text-1 форум о новостройках
    // END header
