.header {
    $_: '.header';
    @include media-breakpoint-up(sm) {
        padding-top: rem(28);
        padding-bottom: rem(20);
    }
    @include media-breakpoint-up(md) {
        text-align: left;
    }
}