.form-group{
    font-size: rem(14);
    label{
        color: #595959;
    }
    .form-control{
        font-size: rem(14);
        &__hint {
            display: block;
            padding-top: 0.25rem;
            font-size: 0.75rem;
            .icon {
                font-size: 1rem;
                margin-top: -2px;
                margin-right: 2px;
            }
            &.\--danger {
                color: $brand-danger;
            }
        }   
    }
    .custom-file{
        width: 100%;
    }
    .custom-file-control{
        &:after{
            content: attr(data-name);
        }
        &:before{
            padding-left: rem(38);
            padding-right: rem(38);
            color: $white;
            font-weight: 900;
            text-transform: uppercase;
            background: $brand-primary;
        }
    }
    &__req {
        color: #ff6f2f;
    }
}
.form-control{
    // Placeholder
    &::placeholder {
        color: $input-color-placeholder;
        // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
        opacity: 1;
    }
}
.form-action{
    margin-top: 2.125rem;
    text-align: center;
}
.captcha{
    display: flex;
    justify-content: center;
}

.form {
    $_ : '.form';
    .custom-checkbox, .custom-radio{
        padding-left: 2rem;
    }

    &.\--request {
        #{$_}__body {
            max-width: 660px;
            margin: 0 auto;
        }
    }
}

//START custom-control
.custom-control{
    $_ : '.custom-control';
    &-description{
        user-select: none;
        font-size: .875rem;
        line-height: 1.5rem;
        &.\--no-wrap {
            white-space: nowrap;
        }
    }
    &-indicator{
        border: 1px solid $input-border-color;
    }
    &.custom-checkbox{
        #{$_}-indicator{
            background-image: none !important;
            .icon{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: block;
                font-size: 1.25rem;
                opacity: 0;
                visibility: hidden;
                transition: all .25s ease-out;
            }
        }
        #{$_}-input{
            &:checked{
                & ~ #{$_}-indicator{
                    .icon{
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }
    &.custom-radio{
        #{$_}-indicator{
            background-image: none !important;
            transition: all .25s ease-out;
        }
        #{$_}-input{
            &:checked{
                & ~ #{$_}-indicator{
                    border-color: $black;
                    box-shadow: inset 0px 0px 0px 3px $white;
                    background-color: $black;
                }
            }
        }
    }
    a {
        color: inherit;
        text-decoration: underline;
    }
}
//END custom-control

@import 'form-responsive';