.captcha{
    @include media-breakpoint-up(md) {
        justify-content: flex-start;
    }
}

.form {
    @include media-breakpoint-down(sm) {
        &__ingroup {
            padding-top: 0.625rem;
        }
        &__hidden-sm-down {
            display: none; 
        }
        &__hr {
            margin-top: rem(32);
            margin-bottom: rem(32);
        }
    }
    @include media-breakpoint-down(md) {
        &__hidden-md-down {
            display: none; 
        }
        .col-form-label {
            padding-top: 0;
        }
    }
    @include media-breakpoint-up(md) {
        &__ingroup {
            padding-top: 1.25rem;
        }
        &__hr {
            margin-top: rem(44);
            margin-bottom: rem(44);
        }
    }
    @include media-breakpoint-up(lg) {
        &__hr {
            margin-top: rem(48);
            margin-bottom: rem(48);
        }
    }
}