.logo{
    $_: '.logo';
    @include media-breakpoint-up(xs) {}
    @include media-breakpoint-up(sm) {
        &__link{
            max-width: 240px;
        }
        &__text-1{
            font-size: rem(14);
        }
    }
    @include media-breakpoint-up(md) {
        &__link{
            max-width: 250px;
        }
        &__text{
            display: block;
        }
        &__text-1{
            display: none;
        }
    }
    @include media-breakpoint-up(lg) {}
    @include media-breakpoint-up(xl) {}
}