// START logo style
.logo{
    $_: '.logo';
    position: relative;
    display: inline-flex;
    vertical-align: top;
    align-items: flex-start;
    color: $brand-primary;
    font-size: 1rem;
    white-space: nowrap;
    &__link{
        display: block;
        max-width: 160px;
    }
    &__img{
        display: block;
        height: auto;
        width: 100%;
    }
    &__text{
        display: none;
        border-left: 2px solid $brand-warning;
        margin-top: rem(7);
        margin-left: rem(10);
        padding-left: rem(10);
        line-height: 1.35em;
    }
    &__text-1{
        position: absolute;
        left: 29%;
        bottom: 0;
        font-size: rem(10);
        line-height: 1;
    }
}
@import 'logo-responsive';
// END logo style