// START contacts style
.contacts{
    $_: '.contacts';
    &__icon{
        display: block;
        margin: 0 auto $grid-gutter-width-base;
        font-size: rem(48);
        max-width: 1em;
        width: 100%;
        height: 1em;
        background: url('%=static=%assets/contacts/contacts-mail.png') no-repeat 50% 50%;
        background-size: 100% auto;
    }
    &__text{
        p:last-child {
            margin-bottom: 0;
        }
    }
    &__action{
        color: #656565;
        a {
            color: inherit;
        }
    }
}

@import 'contacts-responsive';
// END contacts style