.contacts{
    $_: '.contacts';
    @include media-breakpoint-down(sm) {
        text-align: center;
        &__text, &__action{
            display: inline-block;
        }
    }
    @include media-breakpoint-up(md) {
        display: flex;
        flex-direction: row;
        max-width: none;
        align-items: center;
        text-align: left;
        &__icon{
            margin: 0;
            font-size: rem(64);
            flex: 0 0 1em;
        }
        &__text{
            flex-basis: 0;
            flex-grow: 2;
            max-height: 100%;
            height: 100%;
            line-height: 1.2;
            margin-left: rem(30);
            padding: rem(20) rem(0.5) rem(20) rem(30);
            font-size: rem(20);
            color: $black;
            border-left: 2px solid $brand-warning;
            p{
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        &__action{
            font-size: 1.25rem;
        }
    }
}