.timeline{
    $_: '.timeline';
    @include media-breakpoint-down(sm) {
        max-width: 400px; 
        margin-left: auto;
        margin-right: auto;
        padding-left: rem(25);
        &:before {
            top:0;
            bottom: 0;
            left: 25px;
            right: 0;
            width: 5px;
            height: 100%;
        }
        &__item{
            padding: rem(28) 0 rem(28) rem(48);
            &:before{ 
                top: 50%;
                left: -24px;
                font-size: rem(24);
                transform: translate(0, -50%);
            }
        }
        &__content {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        &__figure {
            flex: 0 0 80px;
            max-width: 80px;
        }
        &__text {
            padding-left: 0.75rem;
        }
    }
    @include media-breakpoint-up(md) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: none;
        margin-top: rem(62);
        &:before {
            top:0;
            left: 0;
            right: 0;
            width: 100%;
            height: 5px;
        }
        &__item{
            flex: 0 0 33.3333%;
            margin: 0;
            padding-top: rem(48);
            border-left: 0;
            text-align: center;
            &:last-child{
                &:after{
                    display: none;
                }
            }
            &:before{ 
                top: -24px;
                left: 50%;
                font-size: rem(24);
                transform: translate(-50%, 0)
            }
            &:after{
                position: absolute;
                top: -38px;
                right: -28px;
                display: block;
                content: '';
                height: 20px;
                width: 57px;
                background: url('%=static=%assets/timeline/timeline-icon.png') no-repeat 50% 50%;
            }
        }
        &__content {
            max-width: 194px;
            margin: 0 auto;
        }
        &__figure {
            margin-bottom: rem(22);
        }
    }
}