// START timeline style
.timeline{
    $_: '.timeline';
    position: relative;
     &:before {
        content: "";
        position: absolute;
        display: block;
        background-color: $brand-warning;
    }
    &__item{
        position: relative;
        &:before{
            position: absolute;
            top: -.5em;
            left: -1.33em;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            content: attr(data-step);
            color: $white;
            font-size: rem(18);
            font-weight: 700;
            width: 2.25em;
            height: 2.25em;
            background: $brand-warning;
        }
    }
    &__text{
        line-height: 1.2;
        font-size: 0.9375rem;
        p{
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}

@import 'timeline-responsive';
// END timeline style